interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic QUNjNDNjMmUzYjY5ODY3ZjU1MzVjNTZlNjhhMWQyMGVjNTpjNjYxNWEyNGI2NTdmYmRkMDFjZGE0NTQ2NDEyZmQ4YQ==
      X-Twilio-Client:
      - python-6.46.0
    method: GET
    uri: https://api.twilio.com/2010-04-01/Accounts/ACc43c2e3b69867f5535c56e68a1d20ec5/AvailablePhoneNumbers/US/Local.json?PageSize=1
  response:
    body:
      string: '{"available_phone_numbers": [{"friendly_name": "(470) 287-1123", "phone_number":
        "+14702871123", "lata": "438", "rate_center": "CLERMONT", "latitude": "34.478700",
        "longitude": "-83.775400", "locality": "Clermont", "region": "GA", "postal_code":
        "30527", "iso_country": "US", "address_requirements": "none", "beta": false,
        "capabilities": {"voice": true, "SMS": true, "MMS": true}}], "uri": "/2010-04-01/Accounts/ACc43c2e3b69867f5535c56e68a1d20ec5/AvailablePhoneNumbers/US/Local.json?PageSize=1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.365'
      Twilio-Request-Id:
      - RQa40ac05c9ba242249c01ac9a82ca7772
      X-API-Domain:
      - api.twilio.com
      X-Home-Region:
      - us1
      X-Shenanigans:
      - none
    status:
      code: 200
      message: OK
- request:
    body: PhoneNumber=%2B14702871123&VoiceMethod=POST&VoiceUrl=https%3A%2F%2F3c87fdccfdeb.ngrok.io%2Fbanners%2Ftwilio_on_banner_call_webhook
    headers:
      Authorization:
      - Basic QUNjNDNjMmUzYjY5ODY3ZjU1MzVjNTZlNjhhMWQyMGVjNTpjNjYxNWEyNGI2NTdmYmRkMDFjZGE0NTQ2NDEyZmQ4YQ==
      Content-Type:
      - application/x-www-form-urlencoded
      X-Twilio-Client:
      - python-6.46.0
    method: POST
    uri: https://api.twilio.com/2010-04-01/Accounts/ACc43c2e3b69867f5535c56e68a1d20ec5/IncomingPhoneNumbers.json
  response:
    body:
      string: '{"sid": "PNbba0c7a152255a04e4afd6f84a5f1e51", "account_sid": "ACc43c2e3b69867f5535c56e68a1d20ec5",
        "friendly_name": "(470) 287-1123", "phone_number": "+14702871123", "voice_url":
        "https://3c87fdccfdeb.ngrok.io/banners/twilio_on_banner_call_webhook", "voice_method":
        "POST", "voice_fallback_url": null, "voice_fallback_method": "POST", "voice_caller_id_lookup":
        false, "date_created": "Mon, 01 Mar 2021 19:37:46 +0000", "date_updated":
        "Mon, 01 Mar 2021 19:37:46 +0000", "sms_url": "", "sms_method": "POST", "sms_fallback_url":
        "", "sms_fallback_method": "POST", "address_requirements": "none", "beta":
        false, "capabilities": {"voice": true, "sms": true, "mms": true}, "status_callback":
        "", "status_callback_method": "POST", "api_version": "2010-04-01", "voice_application_sid":
        null, "sms_application_sid": "", "origin": "twilio", "trunk_sid": null, "emergency_status":
        "Inactive", "emergency_address_sid": null, "address_sid": null, "identity_sid":
        null, "bundle_sid": null, "uri": "/2010-04-01/Accounts/ACc43c2e3b69867f5535c56e68a1d20ec5/IncomingPhoneNumbers/PNbba0c7a152255a04e4afd6f84a5f1e51.json",
        "status": "in-use"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.615'
      Twilio-Request-Id:
      - RQ49ce6a18dd7742a59834a744de69619f
      X-API-Domain:
      - api.twilio.com
      X-Home-Region:
      - us1
      X-Shenanigans:
      - none
    status:
      code: 201
      message: CREATED
version: 1
