{% load time %}
<div class="row">
<div class="col-sm-3">
<div class="card">
<div class="card-body">
	<h5 class="card-title">Now</h5>
	<!-- <div class="d-flex flex-column"> -->
		<p class="font-weight-bold mb-0">{{ item.id }}</p>
		<p class="font-weight-bold mb-0">{{ item.phone_number }}</p>
		fghjk
<!-- 		<p class="font-weight-bold mb-0">{{ wpis.entry.lastChangeDate|date:'Y-m-d H:i' }}</p>
 -->	<!-- </div> -->
	</div>
</div>
</div>

 <div class="card text-center" style="width: 18rem;">
  <div class="card-body">
	<button type="button" class="btn btn-light btn-lg">Next ></button>
	<br>
	<button type="button" class="btn btn-light btn-sm">Skip ></button>
  </div>
</div>


<div class="col-sm-3">
<div class="card">
<div class="card-body">
	<h5 class="card-title">Next</h5>
	<!-- <div class="d-flex flex-column"> -->
		<p class="font-weight-bold mb-0">{{ item.id }}</p>
		<p class="font-weight-bold mb-0">{{ item.phone_number }}</p>
		tyui
<!-- 		<p class="font-weight-bold mb-0">{{ wpis.entry.lastChangeDate|date:'Y-m-d H:i' }}</p>
 -->	</div>
	</div>	
</div>
</div>
