{% extends "shared/base_with_sidebar.html" %}

{% block main_page %}
  <div class="card rounded-15-px" style="width: 40rem">
  <div class="card-body">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <p class="font-weight-bold mb-0">Banners</p>
      {% include 'banners/create.html' %}
    </div>
  </div>
  <hr class="ml-3 mr-3 mb-0 mt-0">
  <div class="card-body">

  <div class="d-flex flex-column">
    {% for banner in banners %}
    <table>
      <tr>
        <td>
    <a href="{{ banner.banner_id.queue }}"
         class="pb-2 pt-2 text-dark sidebar-item rounded-15-px text-decoration-none">{{ banner.phone_number }}</a></td>
         <td>
    <!-- <p class="font-weight-bold mb-0">{{ banner.phone_number }}</p> -->
      <a href="{{ banner.upload.url }}"
         class="pb-2 pt-2 text-dark sidebar-item rounded-15-px text-decoration-none" download>
        &nbsp; Download<!-- {{ banner.phone_number }} -->
      </a></td>
    </tr>
    </table>
    {% endfor %}
  </div>

  </div>
</div>




{% endblock %}